.body {
    display: flex;
    background-color: rgb(39, 33, 28,);
    height: 1000px;
}

.thank-body {
    flex: 1;
    display: flex;
    vertical-align: middle;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(32, 27, 23);
}

.thank-title {
    color: rgb(180, 96, 96);
    font-weight: bold;
    font-size: 50px;
}

.thank-description {
    font-weight: bold;
    color: rgb(255, 191, 155);
}

.thank-link {
    color: rgb(255, 191, 155);
    text-decoration: none;
}

.thank-link:hover {
    color: rgb(255, 244, 224);
    text-decoration: none;
}